body{
    margin: 0;
    padding: 0;
}

.logo{
    text-align: center;
    margin-bottom: 20px;
}

.logo img{
width: 130px;
height: auto;

}


form {

    background:rgb(233, 233, 250);
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 0; 

}
.form-container {
    max-width:700px;
    margin: auto;
    background:whitesmoke;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    
}

h1{
    text-align: center;
    padding-right:10px ;
    margin-top: 10px;
    font-weight: bold;
    color: #5e7dd2;
    
    
}
h2{
    text-align: center;
    color: rgb(59, 59, 181);
    margin-bottom: 20px;
    font-size: 26px;
}


form{
    border:2px solid rgb(61, 61, 240);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    
}

legend{
    display:block;
    margin-top: 15px;
    font-weight: bold;
    font-size: large;
}
label{
display: block;
margin-top: 10px;
font-weight: bold;
}
input{
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #efcaca;
    border-radius: 5px;
}
button{
    width: 120px;
    padding: 14px;
    margin-top: 25px;
    background: #4c68b5;
    color:white;
    border-radius: 8px;
    border:none;
    margin-top: 20px;
    font-size:15px;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background: #183064;
}